# **Data Exploration Tabular Dataset**

* Tabular Dataset n Lung Cancer
https://www.kaggle.com/datasets/thedevastator/cancer-patients-and-air-pollution-a-new-link?resource=download

This is a categorical dataset. All featuers, except for Age, Gender and Risk Level, are ordinal with values ranging from 1 to 7, or from 1 to 8. These values are discrete and indicate the prevalance of the feature in the patient

## Necessary Imports

In [2]:
import sys
assert sys.version_info >= (3, 5)

import sklearn
assert sklearn.__version__ >= "0.20"

import numpy as np
import os
#import tarfile
#import urllib
import pandas as pd
#import urllib.request

%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt

## Loading Tabular Data

With this code, I load the binary dataset from a folder into a panda datafame

In [9]:
LUNG_TABULAR_PATH = os.path.join("..", "dataset", "lung_tabular")

def load_lung_tabular(lung_tabular_path=LUNG_TABULAR_PATH):
    csv_path = os.path.join(lung_tabular_path, "lung_tabular.csv")
    return pd.read_csv(csv_path)

lung_tabular = load_lung_tabular() 

print("Shape of data: ", lung_tabular.shape)
lung_tabular.head() #Display first five rows of the frame

Shape of data:  (1000, 26)

,index,Patient Id,Age,Gender,Air Pollution,Alcohol use,Dust Allergy,OccuPational Hazards,Genetic Risk,chronic Lung Disease,...,Fatigue,Weight Loss,Shortness of Breath,Wheezing,Swallowing Difficulty,Clubbing of Finger Nails,Frequent Cold,Dry Cough,Snoring,Level
0,0,P1,33,1,2,4,5,4,3,2,...,3,4,2,2,3,1,2,3,4,Low
1,1,P10,17,1,3,1,5,3,4,2,...,1,3,7,8,6,2,1,7,2,Medium
2,2,P100,35,1,4,5,6,5,5,4,...,8,7,9,2,1,4,6,7,2,High
3,3,P1000,37,1,7,7,7,7,6,7,...,4,2,3,1,4,5,6,7,5,High
4,4,P101,46,1,6,8,7,7,7,6,...,3,2,4,1,4,2,4,2,3,High

#### Initial Observations:

There a 26 features in total, one of them is the target class - Level (Risk Level of Lung Cancer)

Most data, 21 features, are categorical and of ordinal type. With values ranging from 1 to 7 or from 1 to 8

One feature, Level - the target calss, is categorical, of ordinal type, with possible string values ["Low","Medium","High"]

Two features, index and Patient Id are simply labels for the instances and can be dropepd, as they do not provide useful information for training models, and the instances in the panda dataframe are indexed automatically.

The feature Age is numberical and ratio 

The feature Gender is of binary nominal type, taking on possible values of ["M","F"]

This dataset has 1000 instances.

In [10]:
# Drop the 'Patient Id' and 'Age' columns in place
lung_tabular.drop(columns=['Patient Id', 'index'], inplace=True)

# Verify if the columns were dropped
print("Columns after dropping 'Patient Id' and 'Age':", lung_tabular.columns)

Columns after dropping 'Patient Id' and 'Age': Index(['Age', 'Gender', 'Air Pollution', 'Alcohol use', 'Dust Allergy',
       'OccuPational Hazards', 'Genetic Risk', 'chronic Lung Disease',
       'Balanced Diet', 'Obesity', 'Smoking', 'Passive Smoker', 'Chest Pain',
       'Coughing of Blood', 'Fatigue', 'Weight Loss', 'Shortness of Breath',
       'Wheezing', 'Swallowing Difficulty', 'Clubbing of Finger Nails',
       'Frequent Cold', 'Dry Cough', 'Snoring', 'Level'],
      dtype='object')

## Initial Anlysis